
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^schulenltd\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.schulenltd\.com$
RewriteRule ^(.*)$ "https\:\/\/schulenltd\.com\/$1" [R=301,L]

# ErrorDocument 404 /404.shtml

